**/playground.py
**/__pycache__/
*.txt
*.log
*.json
*.tar
wandb/**
src/wandb/**
**/*.npy
checkpoints/**
log/**
results/**
saved_model/**
!data/spoofing/*multi_noise_batched.npy
data/**
!data/ALFA/next_all.npy
!data/ALFA/X_all.npy
!data/ALFA/y_all.npy
!data/spoofing/*multi_noise_state_only.npy
!data/spoofing/*sin_batched.npy
!data/spoofing/*sin_seq.npy
**.pt
**.csv
**.png
**.pdf